.about-us {
  padding: 29px 30px 35px 30px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  margin-left: -2px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__description {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 20px;
  word-break: break-word;

  &--materials::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 37px;
    top: -53px;
    left: 8px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    z-index: 20;
  }

  &--price::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 27px;
    top: -50px;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    z-index: 20;
  }

  &--like::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 30px;
    top: -46px;
    left: 8px;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    z-index: 20;
  }

  &--handwork::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 34px;
    top: -50px;
    left: 3px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    z-index: 20;
  }

  &--aid::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 23px;
    top: -48px;
    left: -6px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    z-index: 20;
  }

  &--box::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    top: -50px;
    left: 3px;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    z-index: 20;
  }
}

.about-us__items {
  position: relative;
  padding-top: 83px;
}


@media (min-width: $table-width) {
  .about-us {
    width: 668px;
    padding: 49px 0 55px 0;
    margin: 0 auto;
  }

  .about-us__title {
    font-size: $title-size-desk;
    line-height: $title-height-desk;
    margin-bottom: 16.5px;
    margin-left: -5px;
  }

  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-us__items {
    width: 334px;
    padding-top: 85px;
    padding-bottom: 27px;

    &:nth-of-type(1) {
      order: -1;
    }

    &:nth-of-type(2) {
      order: 2;
    }

    &:nth-of-type(3) {
      margin-bottom: 0;
      order: 4;
    }

    &:nth-of-type(4) {
      order: 1;
    }

    &:nth-of-type(5) {
      order: 3;
    }

    &:nth-of-type(6) {
      order: 5;
    }
  }

  .about-us__description {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us {
    width: 700px;
    padding: 59px 0 64px 0;
  }

  .about-us__items {
    width: 350px;
    padding-bottom: 26px;
  }
}
