.about-us {
  padding: 28px 30px 36px 30px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.about-us__list-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 86px;
}

.about-us__description {
  margin: 0;
  padding: 0;
  line-height: 20px;
  word-break: break-word;

  &--materials::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 37px;
    top: -54px;
    left: 8px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--price::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 27px;
    top: -52px;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--like::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 28px;
    top: -46px;
    left: 7px;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--handwork::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 34px;
    top: -52px;
    left: 3px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--aid::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 23px;
    top: -50px;
    left: -6px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--box::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    top: -50px;
    left: 3px;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.about-us__items {
  position: relative;
  margin-bottom: 82px;

  &:last-of-type {
    margin-bottom: 0;
  }
}


@media (min-width: $table-width) {
  .about-us {
    width: 668px;
    padding: 49px 0 84px 0;
    margin: 0 auto;
  }

  .about-us__title {
    font-size: $title-size-desk;
    line-height: $title-height-desk;
    margin-bottom: 16.5px;
    margin-left: -5px;
  }

  .about-us__list-wrap {
    display: flex;
  }

  .about-us__items-wrap {
    width: 334px;
  }

  .about-us__items {
    margin-bottom: 111px;

    &:nth-of-type(3) {
      margin-bottom: 0;
    }
  }

  .about-us__description {
    font-size: 20px;
    line-height: 22px;
  }
}
