.advert {
  position: relative;
  background-color: #f1f1f1;
}

.advert__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 70px 0 76px 0;
}

@media (min-width: $table-width) {
  .advert {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -10px;
      right: 0;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center bottom;
      background-size: 768px 23px;
    }
  }

  .advert__title {
    font-size: $title-size-desk;
    line-height: $title-height-desk;
    padding: 94px 0 82px 0;
  }
}
