.catalog-nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-nav__link {
  text-decoration: none;
  color: $color;
  font-size: 15px;
}

@media (min-width: $table-width) {
  .catalog-nav {
    display: flex;
    order: 2;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 305px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: -200px;
    padding-top: 17px;
    z-index: 2;
  }
}
