.categories-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-list__link {
  display: flex;
  width: 100%;
  min-height: 103px;
  position: relative;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}


.categories-list__link--interior {
  background-color: #63d1bb;

  &::after {
    content: "";
    position: absolute;
    top: 53%;
    margin-top: -31px;
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px #63d1bb;
  }

  &:active::after {
    opacity: 0.1;
  }
}

.categories-list__link--toys {
  background-color: #56c3b2;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 27px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px #56c3b2;

    &:active::after {
      opacity: 0.1;
    }
  }

  &:active::after {
    opacity: 0.1;
  }
}

.categories-list__text {
  width: 110px;
  font-size: 19px;
  font-weight: bold;
  margin: 25px 0;
}

@media (min-width: $table-width) {
  .categories-list {
    display: flex;
    justify-content: space-between;
  }

  .categories-list__items {
    width: 50%;
    box-sizing: border-box;
  }

  .categories-list__text {
    font-size: 20px;
    line-height: 30px;
    margin: 27px 0 33px 0;
  }

  .categories-list__link {
    padding-left: 35px;

    &--interior::after {
      top: 51%;
    }

    &--toys::after {
      top: 51%;
      right: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories-list {
    width: 1050px;
    margin: 0 auto;
  }

  .categories-list__text {
    margin: 28px 0 38px 0;
  }

  .categories-list__link {
    padding-left: 36px;
  }

  .categories-list__link--interior {
    &::after {
      content: "";
      top: 49%;
    }
  }

  .categories-list__link--toys {
    background-color: #56c3b2;

    &::after {
      content: "";
      right: 35px;
    }
  }
}
