.developed {
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.developed__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  text-decoration: none;
  color: $color;
  padding-left: 37px;
  padding-right: 39px;
  padding-top: 19px;
  box-sizing: border-box;
}

.developed__icone {
  padding-top: 3px;
}

@media (min-width: $table-width) {
  .developed {
    position: relative;
    width: 184px;
    margin: 0;
  }

  .developed__text {
    padding: 0;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .developed__text{
    margin-top: 0;
  }
}
