.form__fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0 0 30px 0;

  &--name {
    padding: 0 0 27px 0;
  }

  &--height {
    padding: 0;
    margin-bottom: 29px;
  }

  &--textarea {
    padding: 0 0 10px 0;
  }

  &--color {
    padding-bottom: 25px;
  }
}

.form__legend {
  margin: 0;
  margin-bottom: 19px;
  width: 60px;
  text-transform: uppercase;
  color: #62d1ba;
  font-size: 17px;
  word-break: break-word;

  &--tell {
    margin-bottom: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 1px;
    right: 0;
    top: 12px;
    background-color: #62d1ba;
  }

  &--width {
    margin-bottom: 2px;
  }

  &--width::after {
    content: "";
    width: calc(100% - 80px);
  }

  &--name {
    margin-bottom: 25px;
  }

  &--textarea {
    margin-bottom: 20px;
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__items {
  margin-bottom: 24px;


  &:last-of-type {
    margin-bottom: 0;
  }

  &--radio {
    padding-left: 63px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 4px;
  }

  &--checkbox {
    padding-left: 63px;
    margin-bottom: 17px;
    padding-top: 12px;
    padding-bottom: 14px;
  }

  &--name {
    margin-bottom: 22px;
  }
}

.form__control--text,
.form__control--tel,
.form__control--email {
  width: 100%;
  box-sizing: border-box;
  height: 52px;
  border: none;
  border-bottom: 2px solid #000000;
  padding-right: 45px;
}

.form__control--tel {
  font-size: 19px;
}

.form__control--textarea {
  width: 100%;
  min-height: 142px;
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 15px;
}

.form__btn {
  background-color: transparent;
  width: 100%;
  min-height: 52px;
  border: 2px solid black;
  font-weight: bold;
  box-sizing: border-box;

  &:hover {
    background-color: #444444;
    color: #ffffff;
    border-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__label {
  position: relative;
  display: block;
  line-height: 18px;
}

.form__control--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  left: -63px;
  top: -9px;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50px;
}

.form__control--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #62d1ba;
  border-radius: 50px;
  left: -51px;
  top: 3px;
}

.form__control--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;
  width: 36px;
  height: 35px;
  border: 2px solid #000000;
}

.form__control--checkbox:checked + .form__label--checkbox::before {
  content: "";
  position: absolute;
  left: -63px;
  top: -10px;
  width: 36px;
  height: 35px;
  border: 2px solid #000000;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.form__control {
  position: relative;

  &-tell {
    position: absolute;
    top: 37px;
    right: 8px;
    opacity: 0.2;
  }

  &-email {
    position: absolute;
    top: 37px;
    right: 4px;
    opacity: 0.2;
  }
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 31px;
}

@media (min-width: $table-width) {
  .form__fieldset-wrap {
    &--color {
      padding-top: 45px;
      background-color: #f1f1f1;
    }

    &--tell {
      padding-top: 46px;
      background-color: #f1f1f1;
      padding-bottom: 8px;
    }

    &--email {
      background-color: #f1f1f1;
      padding-bottom: 39px;
    }

    &--bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 100px);
      margin: 0 auto;
      max-width: 1050px;
      margin-top: 40px;
    }
  }

  .form__fieldset {
    display: flex;
    width: calc(100% - 100px);
    margin: 0 auto;
    max-width: 1050px;
    padding-bottom: 28px;

    &--type {
      padding-bottom: 50px;
    }

    &--name {
      padding-top: 47px;
      padding-bottom: 50px;
    }

    &--textarea {
      padding-top: 47px;
      padding-bottom: 10px;
    }

    &--height {
      padding-bottom: 12px;
    }
  }

  .form__legend {
    width: 167px;
    flex-shrink: 0;
    margin-bottom: 0;
    padding-top: 16px;

    &::after {
      width: 0;
    }
  }

  .form__label {
    font-size: 19px;
    line-height: 18px;
    align-self: center;
  }

  .form__items {
    &--radio {
      padding-left: 80px;
      padding-top: 17px;
      margin-bottom: 21px;
      padding-bottom: 20px;
    }

    &--checkbox {
      width: 40%;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 80px;
      margin-right: 62px;
      margin-bottom: 21px;
      padding-top: 17px;
      padding-bottom: 20px;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    &--name {
      display: flex;
      margin-bottom: 21px;
    }

    &--tell {
      padding-top: 4px;
    }

    &--email {
      padding-top: 18px;
    }

    &--textarea {
      padding-top: 16px;
    }
  }

  .form__control--text {
    box-sizing: content-box;
    margin-left: 24px;
    padding: 0;
    padding-left: 17px;
    height: 53px;
  }

  .form__control--tel {
    background-color: transparent;
    padding-left: 17px;
    padding-right: 65px;
  }

  .form__control--email {
    background-color: transparent;
    padding-left: 17px;
    padding-right: 65px;
    margin-top: -14px;
  }

  .form__control--textarea {
    background-color: transparent;
    margin-top: -13px;
    padding: 11px 11px 11px 14px;
  }

  .form__control-email {
    top: 15px;
    right: 22px;
  }

  .form__control-tell {
    top: 14px;
    right: 26px;
  }

  .form__control--radio + .form__label--radio::before {
    content: "";
    left: -80px;
    top: -14px;
    width: 51px;
    height: 51px;
    box-sizing: border-box;
  }

  .form__control--radio:checked + .form__label--radio::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #62d1ba;
    border-radius: 50px;
    left: -64px;
    top: 2px;
  }

  .form__control--checkbox + .form__label--checkbox::before {
    content: "";
    left: -80px;
    top: -15px;
    width: 54px;
    height: 52px;
    box-sizing: border-box;
  }

  .form__control--checkbox:checked + .form__label--checkbox::before {
    content: "";
    left: -80px;
    top: -15px;
    width: 54px;
    height: 52px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33px 22px;
  }

  .form__list {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    line-height: 18px;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      padding-top: 3px;
    }
  }

  .form__btn {
    width: 230px;
    order: -1;
    padding: 0;
    flex-shrink: 0;
  }

  .form__text {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__legend {
    padding-left: 60px;
    box-sizing: border-box;

    &--tell {
      margin-right: 8px;
    }

    &--width {
      margin-right: 8px;
      padding-top: 19px;
    }

    &--textarea {
      margin-right: 8px;
      padding-bottom: 0;
    }
  }

  .form__items--radio {
    padding-left: 88px;
  }

  .form__list--checkbox {
    width: 750px;
    padding-left: 8px;
    align-items: flex-start;
  }

  .form__list--name {
    padding-left: 9px;
    width: 709px;
  }

  .form__items--checkbox {
    width: 29%;
    margin-right: 47px;

    &:nth-of-type(2n) {
      margin-right: 47px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .form__items:last-of-type {
    margin-bottom: 38px;
  }

  .form__fieldset--type {
    padding-bottom: 12px;
  }

  .form__fieldset--color {
    padding-bottom: 11px;
  }

  .form__items--name {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__list--tell {
    width: 700px;
  }

  .form__control-tell {
    top: 15px;
    right: 183px;
  }

  .form__items--tell:last-of-type {
    margin-bottom: 0;
  }

  .form__list--email {
    width: 700px;
  }

  .form__control-email {
    top: 15px;
    right: 179px;
  }

  .form__items--email {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__items--textarea {
    width: 700px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__fieldset-wrap--bottom {
    width: 700px;
    margin-top: 36px;
  }

  .form__fieldset-wrap--email {
    padding-bottom: 38px;
  }
}
