.list-parameters {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 27px;
}

.list-parameters__name {
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  padding: 10px 0;
  word-break: break-word;
}


.list-parameters__value {
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  box-sizing: border-box;
  padding-left: 15px;
  word-break: break-word;
}

@media (min-width: $table-width) {
  .list-parameters__value {
    padding-left: 0;
  }
}
