.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 14px;
  display: block;
  right: 0;
  top: 50%;
  margin-top: -8px;
  border: none;
  background-color: transparent;
  padding: 0;
}


@media (min-width: $table-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav  {
  }
}
