.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  display: block;
  right: 1px;
  top: 48%;
  margin-top: -8px;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media (min-width: $table-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    padding-top: 17px;
    padding-bottom: 18px;
  }

  .main-nav {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
