.page-footer {
  background-color: #f1f1f1;
  padding: 28px 30px 40px 30px;
}

.social-list {
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding-left: 57px;
  padding-right: 60px;padding-bottom: 20px;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.developed {
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.developed__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  text-decoration: none;
  color: $color;
  padding-left: 39px;
  padding-right: 30px;
  padding-top: 23px;
  box-sizing: border-box;
}
