.page-footer {
  background-color: #f1f1f1;
  padding: 28px 30px 40px 30px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $table-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 51px 50px 58px 50px;
  }

  .page-footer__logo  {
    width: 179px;
    display: block;
  }
}
