.promo-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-list__sale {
  display: none;
}

@media (min-width: $table-width) {
  .promo-list {
    order: 3;
    display: flex;
    flex-basis: 231px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    margin-left: calc(100% - 536px);
    margin-bottom: -200px;
    padding-top: 17px;
    z-index: 2;
  }

  .promo-list__text {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo-list {
    flex-basis: 100%;
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
  }

  .promo-list__sale {
    display: block;
    margin-right: 60px;
    text-decoration: none;
    color: $color;
    font-size: 15px;
  }

  .promo {
    margin-left: calc(100% - 604px);
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .promo-list__items:last-of-type {
    margin-right: 0;
  }
}
