.size-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.size-form__items {
  display: flex;
  justify-content: center;
  width: 82px;
  box-sizing: border-box;
  text-align: center;
}

.size-form__label {
  width: 100%;
  padding: 16px 0;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border-color: #c7c7c7;
  }
}

.size-form__checkbox-control:checked ~ .size-form__label {
  border: 2px solid #63d1bb;
}

@media (min-width: $table-width) {
  .size-form__items {
    width: 112px;
  }
}
