.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0 auto;
  padding-top: 6px;
  padding-left: 57px;
  padding-right: 60px;
  padding-bottom: 26px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.social-list__items {
  padding-right: 5px;
  padding-bottom: 5px;

  &:last-of-type {
    padding-right: 0;
  }
}

.social-list__link {
  display: flex;

  &:hover svg {
    fill: rgba(70, 193, 174, 1);
  }

  &:active svg {
    fill: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: $table-width) {
  .social-list {
    display: flex;
    flex-shrink: 0;
    width: 141px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    justify-content: space-between;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    align-items: center;
  }
}
