@media (min-width: $table-width) {
  .wrap__fieldset {
    &--color {
      padding-top: 62px;
      background-color: #f1f1f1;
    }

    &--tell {
      padding-top: 62px;
      background-color: #f1f1f1;
      padding-bottom: 27px;
    }

    &--email {
      background-color: #f1f1f1;
      padding-bottom: 39px;
    }

    &--bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 100px);
      margin: 0 auto;
      max-width: 1050px;
      margin-top: 40px;
    }
  }
}
